<% provide(:title, "About") %>
    <h1>About</h1>

<p>I want you to picture getting in your car and going for a drive. Are you worried about the carbon dioxide emitted every time you do this? Have you thought about how we are going to solve for a carbon crises that we're all a part, even though we depend on carbon emission to power our daily lives? It's a daunting challenge that almost feels overwhelming. It’s exhausting. It feels hopeless. Political bickering and the blame game make it seem toxic. We feel guilt, shame, and fear. And then nothing gets done.</p>

<p>I want you to close your eyes and picture something. I want you to picture getting into your car and going for a drive. I want you to picture yourself driving to meet family or going to work. And I then want you to picture <strong>removing atmospheric carbon</strong> while you do this. I want you to picture doing the things you do in your daily life and I want you to picture carbon going backwards.</p>

<p>Because that's what we do. We want to tell you a story. It's a story about hope. It's a story about action. It's a story about a low carbon future. It's a story about you.</p>

<p>Carbon emissions are a problem. In order to avoid catastrophic climate and chaotic societal changes we need to keep temperatures under 2C. The UN IPCC says we have 12 years to get this figured out. Recently scientist have warned we may have as little as 18 months. EIGHTEEN MONTHS. That's how much time we have before we reach a tipping point; a level at which we may have little to no ability to solve the crisis. </p>

<p>However, we have the solutions available to us now. We don't need to wait for a far-off new-fangled technology, and we don't need trillions of government controlled dollars. Solar and wind and other renewables are here now. They work. They're green. They're energy is free so they are low cost. However, they are distributed and variable compared to traditional fossil energy. This requires us to scale energy storage.</p>

<p>Getting renewables onboard faster means making energy storage big, quickly. It's about taking huge amounts of energy and storing it away in times when it's produced, but not needed, and regenerated when it is needed. It's when the sun shines during the day but not at night, or in the summer more than the winter, or when it’s cloudy and when it's not. It's when the wind blows hard for days at a time and then is calm for weeks. There isn't a big energy storage solution that can scale to meet this challenge. </p>

<p>Until now.</p>

<p>FireJar has invented scalable energy storage. We discovered the cheapest, most infinitely recyclable way to store energy is in a carbon bond. We invented a power-to-gas energy storage solution that takes solar rays from the summer and uses them in the winter, windless days become windy days and far-off hydro dams become nearby facilities. We are distributed, scalable energy storage and we're here today. Right now. </p>
