<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | The FireJar Corporation</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
    	Investor #1: Jeff Oster
    </p>
  </body>
</html>