<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | The FireJar Corporation</title>
  </head>
  <body>
    <h1>The FireJar Corporation</h1>
    <p>
      This is the home page for The FireJar Corporation Website Application.
    </p>
  </body>
</html>
