<div class="center jumbotron">
	<h1> The FireJar Corporation</h1>

	<h2>Deep Seasonal Storage and Carbon Negaitve Productivity</h2>
	
	<h2>
		Energy in a jar. Carbon in the ground.
	</h2>

	<%= link_to "Sequester Carbon Now!", about_path, class: "btn btn-lg btn-primary" %>
</div>
<center>
<%= link_to image_tag("firejar.png", alt: "FireJar logo"),
                      "https://www.firejarenergy.com" %>
</center>